# **Assignment 1:**

Monash ID:    **30155843**

Monash username: **mmah0021**



## <center>**FIT 5148- Distributed Databases and Big Data**<center>

### **Background:** 

Everyone who travels on the public transport network of Adelaide Metro has the right to experience an enjoyable journey, and it is essential that travel to others with consideration.South Australia's Department of Planning, Transport and Infrastructure (DPTI) is collecting information from multiple road crashes in an effort to improve road safety for further assessment.

Our goal here is to leverage the python multiprocessing framework so that information can be queried efficiently and quickly using separate methods and parallel algorithms to partition information.

Here we would like to use the parallel methods (parallel search, join, sort and group-by) that we have learned in this unit to perform various activities on the dataset.


## Preparation

Import relevant python libraries for use the parallel methods.
<br>
<br>

In [3]:
import pandas as pd
import numpy as np
import multiprocessing as mp
from multiprocessing import Pool
from datetime import datetime

#### Importing the .csv files into Jupyter notebook to prepare data for further analysis

In [4]:
crashDf = pd.read_csv('2018_DATA_SA_Crash.csv')
unitsDf = pd.read_csv('2018_DATA_SA_Units.csv')
crashReader = crashDf.values.tolist()
unitsReader = unitsDf.values.tolist()

## Task 1: Parallel Search

### 1.1 

In this task have chosen Linear Search with Round Robin Partitioning to show all the crash events in the suburb Adelaide in the month of January and display the Date of the Crash , Suburb Name , Postcode and Number of Casualties.

**Round robin partition**

Liner searched key = ['ADELAIDE','January']. (suburb, month)

In [6]:
# Round-robin data partitionining function
def rr_partition(data, n):
    """
    Perform data partitioning on data

    Arguments:
    data -- an input dataset which is a list
    n -- the number of processors

    Return:
    result -- the paritioned subsets of D
    """
    result = []
    for i in range(n):
        result.append([])
    
    # For each bin, perform the following
    for index, element in enumerate(data): 
        # Calculate the index of the bin that the current data point will be assigned
        index_bin = (int) (index % n)
        result[index_bin].append(element)
    
    return result

In [7]:
# Linear search function
def linear_search(data, key):
    """
    Perform linear search on data for the given key

    Arguments:
    data -- an input dataset which is a list or a numpy array
    key -- an query record

    Return:
    result -- the position of searched record
    """
    
    resultList = []
    
    for x in data:
        # check for key matching
        if x[2] == key[0] and x[11] == key[1]:
            result = {}
            result['Date'] = (str(x[10])+'-'+x[11]+'-'+x[12])
            result['Suburb Name'] = (x[2])
            result['Postcode'] = (x[3])
            result['Number of casualties'] = (x[6])
            resultList.append(result)
    
    return resultList

In [8]:
# Parallel searching algorithm for exact match
def parallel_search(data, query, n_processor):
    """
    Perform parallel search for exact match on data for the given key

    Arguments:
    data -- an input dataset which is a list
    query -- a query record
    n_processor -- the number of parallel processors
    m_partition -- a data partitioning method
    m_search -- a search method
    
    Return:
    results -- the matched record information
    """

    results = []

    # Pool: a Python method enabling parallel processing. 
    # We need to set the number of processes to n_processor, 
    # which means that the Pool class will only allow 'n_processor' processes 
    # running at the same time.
    pool = mp.Pool(processes=n_processor)

    # Perform data partitioning first
    DD = rr_partition(data, n_processor)      
    for d in DD: # Perform parallel search on all data partitions    
        result = pool.apply_async(linear_search, [d, query])
        output = result.get() # if you use pool.apply_sync(), uncomment this.
        results.append(output) # if you use pool.apply_sync(), uncomment this.   
    """ 
    The method 'pool.apply()' will lock the function call until the function call is finished. 
    The method 'pool.apply_sync()' will not lock the function call,the call results will return immediately instead 
    of waiting for the result, and each method call will be alloacted to a different process. 
    So in this case,pool.apply_async() is processing the search in parallel,
    while the pool.apply() is not. 
    The reason we can use pool.apply() to do search for range_partition and hash_partition data 
    is that as long as we know which partition to do search，we don't need to search in parallel.


    """

    return results


parallel_search(crashReader, ['ADELAIDE','January'], 3)

[[{'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Saturday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Sunday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Sunday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 4},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Thursday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Sunday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1}],
 [{'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 2},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Friday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Saturday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Saturday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Sunday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Wednesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1}],
 [{'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Friday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Monday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Thursday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 0},
  {'Date': '2018-January-Saturday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 1},
  {'Date': '2018-January-Tuesday',
   'Suburb Name': 'ADELAIDE',
   'Postcode': 5000,
   'Number of casualties': 2}]]

### 1.2 

Range partitioned. range 1- [0,2] range 2 - [3,5] range 3-above 5
Binary search to find value 7. Checks in range 3. Sorts that dataset and gets lower bound of data records starting from 7 and upper bound. Returns that segment.

In [9]:
# Range data partitionining function (Need to modify as instructed above)
def range_partition_q1(data, range_indices):
    """
    Perform range data partitioning on data based on the join attribute

    Arguments:
    data -- an input dataset which is a list
    range_indices -- the index list of ranges to be s:plit

    Return:
    result -- the paritioned subsets of D
    """
    
    result = []
    
    # First, we sort the dataset according to 'total cas'  
    new_data = list(data)
    new_data.sort(key = lambda x: x[6])
    
    # Calculate the number of bins
    n_bin = len(range_indices) 

    # For each bin, perform the following
    for i in range(n_bin): 
        # Find elements to be belonging to each range - according to total cas
        s = [x for x in new_data if x[6] < range_indices[i]] 
        # Add the partitioned list to the result
        result.append(s) 
        # Find the last element in the previous partition
        last_element = s[len(s)-1]
        # Find the index of of the last element
        last = new_data.index(last_element)
        # Remove the partitioned list from the dataset
        new_data = new_data[int(last)+1:] 

        # Append the last remaining data list
    result.append([x for x in new_data if x[6] >= range_indices[n_bin-1]]) 
    
    return result

In [10]:
def fetch_lower_bound(data, low, high, key):
    low_index = -1
    middle = 0
    while low <= high:
        middle = int(low + (high - low + 1) / 2)
        midVal = data[middle]
  
        if midVal[6] < key:
            # if mid is less than key, all elements in range [low, mid] are also less 
            # so we now search in [mid + 1, high] 
            low = middle + 1
        elif midVal[6] > key:
            # if mid is greater than key, all elements in range [mid + 1, high] are also greater 
            # so we now search in [low, mid - 1] 
            high = middle - 1
        elif midVal[6] == key:
            # if mid is equal to key, we note down the last found index then we search for more in left side of mid 
            # so we now search in [low, mid - 1] 
            low_index = middle
            high = middle - 1
    return low_index 


def fetch_upper_bound(data, low, high, key):
    upper_index = -1; 
    middle = 0
    while low <= high:
        middle = int(low + (high - low + 1) / 2)
        midVal = data[middle]
  
        if midVal[6] < key:
            # if mid is less than key, then all elements in range [low, mid - 1] are also less 
            # so we now search in [mid + 1, high] 
            low = middle + 1
        elif midVal[6] > key:
            # if mid is greater than key, then all elements in range [mid + 1, high] are also greater so we now search in  
            # [low, mid - 1] 
            high = middle - 1
        elif midVal[6] == key:
            # if mid is equal to key, we note down the last found index then we search for more in right side
            # of mid so we now search in [mid + 1, high] 
            upper_index = middle 
            low = middle + 1
    return upper_index; 


# Binary search function
def binary_search(data, key):
    """
    Perform binary search on data for the given key

    Arguments:
    data -- an input dataset which is a list
    key -- an query record

    Return:
    result -- the position of searched record
    """
    lower = 0
    upper = len(data)-1
    
    # fetches lower index of the range
    lower_ind = fetch_lower_bound(data, lower, upper, key)
    # fetches upper index of the range
    upper_ind = fetch_upper_bound(data, lower, upper, key)
    
    # return the list elements from lower index till upper index
    resultList = data[lower_ind: upper_ind+1]
    
    return resultList

In [11]:
# Parallel searching algorithm for range selection
def parallel_search(data, query, n_processor):
    """
    Perform parallel search for range selection on data for the given key

    Arguments:
    data -- the input dataset which is a list
    query_range -- a query record in the form of a range (e.g. [30, 50])
    n_processor -- the number of parallel processors
    
    Return:
    results -- the matched record information
    """
    
    results = []

    pool = Pool(processes=n_processor)

    range_indices = [2, 5]   # ideally pass this into the function as a variable
    DD = range_partition_q1(data, range_indices)
    for index,element in enumerate(range_indices):
        if query < element:
            m = DD[index]
            break
        else:
            m = DD[-1]
    result = pool.apply(binary_search, [m, query])
    results.append(result)
    
    return results

parallel_search(crashReader, 7, 10)

[[['2018-222-15/08/2019',
   '3 Country',
   'MOUNT SCHANK',
   5291,
   'DISTRICT COUNCIL OF GRANT',
   2,
   7,
   0,
   4,
   3,
   2018,
   'January',
   'Tuesday',
   '05:30 pm',
   110,
   'Cross Road',
   'CURVED, VIEW OPEN',
   'Level',
   'Not Applicable',
   'Sealed',
   'Dry',
   'Not Raining',
   'Daylight',
   'Right Angle',
   2,
   'Driver Rider',
   '3: SI',
   'Give Way Sign',
   nan,
   nan,
   1504113.89,
   1329441.75,
   15041141329442.0],
  ['2018-6762-15/08/2019',
   '2 Metropolitan',
   'CRAIGMORE',
   5114,
   'CITY OF PLAYFORD.',
   2,
   7,
   0,
   0,
   7,
   2018,
   'July',
   'Tuesday',
   '03:30 pm',
   50,
   'Cross Road',
   'Straight road',
   'Slope',
   'Not Applicable',
   'Sealed',
   'Dry',
   'Not Raining',
   'Daylight',
   'Right Angle',
   1,
   'Driver Rider',
   '2: MI',
   'Roundabout',
   nan,
   nan,
   1339137.31,
   1695802.0,
   13391371695802.0]]]

In [12]:
crashDf[crashDf['Total Cas'] == 7]

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
221,2018-222-15/08/2019,3 Country,MOUNT SCHANK,5291,DISTRICT COUNCIL OF GRANT,2,7,0,4,3,...,Right Angle,2,Driver Rider,3: SI,Give Way Sign,NaN,NaN,1504113.89,1329441.75,1.504114e+13
6761,2018-6762-15/08/2019,2 Metropolitan,CRAIGMORE,5114,CITY OF PLAYFORD.,2,7,0,0,7,...,Right Angle,1,Driver Rider,2: MI,Roundabout,NaN,NaN,1339137.31,1695802.00,1.339137e+13

### 1.3


In this task I have chosen the Has Partitioning, Linear search and Parallel searching algorithm.
 
with hash partitioning, rows could be evenly distributed, apparently randomly across partitions. The advantage is that every single query will be broken down into parallel queries on all partitions with a lower information quantity for each partition; however, the findings will naturally have to be centrally combined.

A linear search sequentially checks each item in the list until it finds an item that matches the target value. Partitioning range maps data to partitions based on boundaries identified by the ranges of column values that can be set for each partition. Historical information management applications often find this method useful.

Linear Searched for 'Adelaide' in each hash dataset with key (total number of cas) greater than 3.

In [14]:
# Define a simple hash function.
def s_hash(x, n):
    """
    Define a simple hash function for demonstration

    Arguments:
    x -- an input record
    n -- the number of processors

    Return:
    result -- the hash value of x
    """
    result = x%n 

    return result

# Hash data partitionining function. 
# We will use the "s_hash" function defined above to realise this partitioning
def h_partition(data, n):
    """
    Perform hash data partitioning on data

    Arguments:
    data -- an input dataset which is a list
    n -- the number of processors

    Return:
    result -- the paritioned subsets of D
    """
    
    dic = {} # We will use a dictionary
    for x in data: # For each data record, perform the following
        h = s_hash(x[6], n) # Get the hash key of the input
        if (h in dic.keys()): # If the key exists
            s = dic[h]
            s.append(x)
            dic[h] = s # Add the new input to the value set of the key
        else: # If the key does not exist
            s = list() # Create an empty value set
            s.append(x)
            dic[h] = s # Add the value set to the key
    
    return dic

In [15]:
# Linear search function
def linear_search_suburb(data, key):
    """
    Perform linear search on data for the given key

    Arguments:
    data -- an input dataset which is a list or a numpy array
    key -- an query record

    Return:
    result -- the position of searched record
    """
    
    resultList = []
    
    for x in data:
        # Match suburb
        if x[2] == key:
            resultList.append(x)
    
    return resultList

In [16]:
# Parallel searching algorithm for range selection
def parallel_search_range(data, query_range, n_processor):
    """
    Perform parallel search for range selection on data for the given key

    Arguments:
    data -- the input dataset which is a list
    query_range -- a query record in the form of a range (e.g. [30, 50])
    n_processor -- the number of parallel processors
    
    Return:
    results -- the matched record information
    """
    
    results = []

    pool = Pool(processes=n_processor)

    # Perform data partitioning first
    DD = h_partition(data, n_processor) 
    
    for query in range(query_range[0], query_range[1], 1):
        # Each element in DD has a pair (hash key: records)
        query_hash = s_hash(query, n_processor)
        d = list(DD[query_hash])
        result = pool.apply(linear_search_suburb, [d, 'ADELAIDE'])
        results.append(result)

    return results

parallel_search_range(crashReader, [4, 8], 8)

[[['2018-601-15/08/2019',
   '1 City',
   'ADELAIDE',
   5000,
   'CITY OF ADELAIDE',
   8,
   4,
   0,
   2,
   2,
   2018,
   'January',
   'Sunday',
   '09:12 pm',
   50,
   'Not Divided',
   'Straight road',
   'Level',
   'Not Applicable',
   'Sealed',
   'Dry',
   'Not Raining',
   'Night',
   'Hit Pedestrian',
   1,
   'Driver Rider',
   '3: SI',
   'No Control',
   nan,
   nan,
   1329806.36,
   1670224.76,
   13298061670225.0]],
 [],
 [],
 []]

In [17]:
crashDf[((crashDf['Suburb'] == 'ADELAIDE') & (crashDf['Total Cas'] > 3))]

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
600,2018-601-15/08/2019,1 City,ADELAIDE,5000,CITY OF ADELAIDE,8,4,0,2,2,...,Hit Pedestrian,1,Driver Rider,3: SI,No Control,NaN,NaN,1329806.36,1670224.76,1.329806e+13

## Task 2 : Parallel Join

### 2.1

In this task first join the report-id attributes between two tables by nested-loop algorithm then Performed a divide and broadcast-based parallel join algorithms. The number of the sub-tables distributed equally to the processors. Then Applied a join on each processor and we assume that a shared-memory architecture has no replication of the broadcast table occurs.

In [18]:
def NL_join(T1, T2, option):
    """
    Perform the nested-loop join algorithm.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined

    Return:
    result -- the joined table
    """
    results = []
    
    # For each record of T1
    for tr1 in T1:
        # For each record of T2
        for tr2 in T2:
            # option1 : Task2.1 
            if option == 1:
                # joins on REPORT_ID
                if (tr1[0] == tr2[0]):
                    # Store the joined records into the result list
                    result = {}
                    result['Date'] = (str(tr2[10])+'-'+tr2[11]+'-'+tr2[12])
                    result['Time'] = (tr2[13])
                    result['Suburb Name'] = (tr2[2])
                    result['Gender'] = (tr1[7])
                    result['Age'] = (tr1[8])
                    result['Number of Casualties'] = (tr1[2])
                    result['License Type'] = (tr1[11])
                    results.append(result)
            # option2 : Task2.2 
            elif option == 2:
                # joins on REPORT_ID and checks for suburb adelaide
                if (tr1[0] == tr2[0] and tr2[2] == "ADELAIDE"):
                    # Store the joined records into the result list
                    result = {}
                    result['Date'] = (str(tr2[10])+'-'+tr2[11]+'-'+tr2[12])
                    result['Time'] = (tr2[13])
                    result['Gender'] = (tr1[7])
                    result['Age'] = (tr1[8])
                    result['Number of Casualties'] = (tr1[2])
                    result['License Type'] = (tr1[11])
                    results.append(result)
            # option1 : Task5
            elif option == 3:
                # joins on REPORT_ID and checks for license type as unlicensed
                if (tr1[0] == tr2[0] and tr2[11] == "Unlicenced"):
                    # Store the joined records into the result list
                    result = []
                    result.append(tr1[2])
                    result.append(tr1[6])
                    results.append(result)

    return results

In [19]:
# Include this package for parallel processing
def DDP_join(T1, T2, n_processor):
    """
    Perform a divide and broadcast-based parallel join algorithms.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
    
    results = []
    
    # Partition T1 into sub-tables using rr_partition().
    # The number of the sub-tables must be the equal to the n_processor
    T1_subsets = rr_partition(T1, n_processor)
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    midResults = []
    
    for t1 in T1_subsets:
        # Apply a join on each processor
        
        # Note that as we assume a shared-memory architecture, no replication
        # of the broadcast table (in this case: table T2 (smaller table) occurs.
        output = pool.apply_async(NL_join, [t1, T2, 1])
        
        midResults.append(output)

    for result in midResults:
        results.append(result.get())

    return results[0][0:20]

DDP_join(unitsReader, crashReader, 10)

[{'Date': '2018-October-Wednesday',
  'Time': '11:20 am',
  'Suburb Name': 'MITCHELL PARK',
  'Gender': 'Male',
  'Age': '018',
  'Number of Casualties': 0,
  'License Type': 'Provisional 1 '},
 {'Date': '2018-January-Monday',
  'Time': '04:00 am',
  'Suburb Name': 'CROYDON',
  'Gender': 'Female',
  'Age': '030',
  'Number of Casualties': 1,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '10:00 am',
  'Suburb Name': 'KENSINGTON',
  'Gender': 'Female',
  'Age': '058',
  'Number of Casualties': 0,
  'License Type': 'Provisional 2'},
 {'Date': '2018-January-Monday',
  'Time': '02:30 pm',
  'Suburb Name': 'ONE TREE HILL',
  'Gender': 'Male',
  'Age': '040',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '04:10 pm',
  'Suburb Name': 'ADELAIDE',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Monday',
  'Time': '05:20 pm',
  'Suburb Name': 'WESTBOURNE PARK',
  'Gender': 'Female',
  'Age': '043',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '11:58 am',
  'Suburb Name': 'WOODVILLE WEST',
  'Gender': 'Male',
  'Age': '025',
  'Number of Casualties': 0,
  'License Type': 'Provisional 2'},
 {'Date': '2018-January-Tuesday',
  'Time': '11:18 am',
  'Suburb Name': 'ADELAIDE',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Tuesday',
  'Time': '01:50 pm',
  'Suburb Name': 'DRY CREEK',
  'Gender': 'Female',
  'Age': '031',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Tuesday',
  'Time': '07:30 pm',
  'Suburb Name': 'TOOPERANG',
  'Gender': 'Male',
  'Age': '019',
  'Number of Casualties': 0,
  'License Type': 'Provisional 2'},
 {'Date': '2018-January-Tuesday',
  'Time': '06:00 am',
  'Suburb Name': 'EVANSTON GARDENS',
  'Gender': 'Male',
  'Age': '021',
  'Number of Casualties': 1,
  'License Type': nan},
 {'Date': '2018-January-Wednesday',
  'Time': '10:40 am',
  'Suburb Name': 'PORT WAKEFIELD',
  'Gender': 'Female',
  'Age': '061',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Tuesday',
  'Time': '03:15 pm',
  'Suburb Name': 'TOORAK GARDENS',
  'Gender': 'Unknown',
  'Age': 'XXX',
  'Number of Casualties': 0,
  'License Type': 'Unknown'},
 {'Date': '2018-January-Wednesday',
  'Time': '03:50 pm',
  'Suburb Name': 'PARALOWIE',
  'Gender': 'Male',
  'Age': '051',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Wednesday',
  'Time': '04:50 pm',
  'Suburb Name': 'BURNSIDE',
  'Gender': 'Male',
  'Age': '029',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Wednesday',
  'Time': '06:55 pm',
  'Suburb Name': 'GILLES PLAINS',
  'Gender': 'Male',
  'Age': '042',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Thursday',
  'Time': '12:01 am',
  'Suburb Name': 'BANKSIA PARK',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Thursday',
  'Time': '10:51 am',
  'Suburb Name': 'MODBURY',
  'Gender': 'Male',
  'Age': 'XXX',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Thursday',
  'Time': '08:00 am',
  'Suburb Name': 'ST MARYS',
  'Gender': 'Male',
  'Age': '020',
  'Number of Casualties': 0,
  'License Type': 'Provisional 2'},
 {'Date': '2018-January-Thursday',
  'Time': '01:42 pm',
  'Suburb Name': 'ALDINGA',
  'Gender': 'Male',
  'Age': '085',
  'Number of Casualties': 1,
  'License Type': 'Full'}]

### 2.2

Range data partitionining on data based on the join attribute function used for this task and ranges partition on unique key in REPORT_ID which is at index 5.


Ranges are [0-3], [3-6] and [6+]

Then performed a disjoint partitioning-based parallel join algorithm.
Partition two tables into sub-tables using range_partition().

In [20]:
items = crashDf['REPORT_ID'].tolist()
items = [item[5] for item in items]
set(items)

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [21]:
# Range data partitionining function (Need to modify as instructed above)
def range_partition_q2(data, range_indices):
    """
    Perform range data partitioning on data based on the join attribute

    Arguments:
    data -- an input dataset which is a list
    range_indices -- the index list of ranges to be s:plit

    Return:
    result -- the paritioned subsets of D
    """
    
    result = []
    
    # First, we sort the dataset according to unique key in REPORT_ID which is at index 5  
    new_data = list(data)
    new_data.sort(key = lambda x: x[0][5])
    
    # Calculate the number of bins
    n_bin = len(range_indices) 

    # For each bin, perform the following
    for i in range(n_bin): 
        # Find elements to be belonging to each range
        s = [x for x in new_data if x[2][0] < range_indices[i]] 
        # Add the partitioned list to the result
        result.append(s) 
        # Find the last element in the previous partition
        last_element = s[len(s)-1]
        # Find the index of of the last element
        last = new_data.index(last_element)
        # Remove the partitioned list from the dataset
        new_data = new_data[int(last)+1:] 

        # Append the last remaining data list
    result.append([x for x in new_data if x[2][0] >= range_indices[n_bin-1]]) 
    
    return result

In [22]:
# Include this package for parallel processing
import multiprocessing as mp

def DPBP_join(T1, T2, n_processor):
    """
    Perform a disjoint partitioning-based parallel join algorithm.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
    
    results = []
    
    ### START CODE HERE ### 
    
    # Partition T1 & T2 into sub-tables using range_partition().
    # The number of the sub-tables must be the equal to the n_processor
    # Range is set from 0-3, 3-6, and 6 and beyond.
    T1_subsets = range_partition_q2(T1, [3, 6])
    T2_subsets = range_partition_q2(T2, [3, 6])
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    midResults = []
    for i in range(len(T1_subsets)):
        # Apply a join on each processor
        output = pool.apply_async(NL_join, [T1_subsets[i], T2_subsets[i], 2])
       
        midResults.append(output)
        
    for result in midResults:
        results.append(result.get())

    ### END CODE HERE ###
    
    return results[0][0:20]

DDP_join(unitsReader, crashReader, 3)

[{'Date': '2018-October-Wednesday',
  'Time': '11:20 am',
  'Suburb Name': 'MITCHELL PARK',
  'Gender': 'Male',
  'Age': '018',
  'Number of Casualties': 0,
  'License Type': 'Provisional 1 '},
 {'Date': '2018-October-Wednesday',
  'Time': '11:20 am',
  'Suburb Name': 'MITCHELL PARK',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Monday',
  'Time': '02:14 am',
  'Suburb Name': 'GOLDEN GROVE',
  'Gender': 'Male',
  'Age': '022',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '02:26 am',
  'Suburb Name': 'ELIZABETH SOUTH',
  'Gender': 'Male',
  'Age': '034',
  'Number of Casualties': 2,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '04:00 am',
  'Suburb Name': 'ELIZABETH VALE',
  'Gender': 'Unknown',
  'Age': 'XXX',
  'Number of Casualties': 0,
  'License Type': 'Unknown'},
 {'Date': '2018-January-Monday',
  'Time': '04:00 am',
  'Suburb Name': 'ELIZABETH VALE',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Monday',
  'Time': '05:45 am',
  'Suburb Name': 'BIRDWOOD',
  'Gender': 'Female',
  'Age': '023',
  'Number of Casualties': 1,
  'License Type': 'Provisional 2'},
 {'Date': '2018-January-Monday',
  'Time': '10:00 am',
  'Suburb Name': 'KENSINGTON',
  'Gender': 'Female',
  'Age': '022',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '10:45 am',
  'Suburb Name': 'MOUNT PLEASANT',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Monday',
  'Time': '04:15 am',
  'Suburb Name': 'ADELAIDE',
  'Gender': 'Male',
  'Age': '032',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '02:30 pm',
  'Suburb Name': 'ONE TREE HILL',
  'Gender': 'Male',
  'Age': '040',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '04:25 pm',
  'Suburb Name': 'GLENELG EAST',
  'Gender': 'Male',
  'Age': '042',
  'Number of Casualties': 1,
  'License Type': 'Full'},
 {'Date': '2018-January-Friday',
  'Time': '12:30 pm',
  'Suburb Name': 'MOUNT BRYAN',
  'Gender': 'Unknown',
  'Age': 'XXX',
  'Number of Casualties': 0,
  'License Type': 'Unknown'},
 {'Date': '2018-January-Monday',
  'Time': '04:10 pm',
  'Suburb Name': 'ADELAIDE',
  'Gender': 'Female',
  'Age': '036',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '03:20 pm',
  'Suburb Name': 'FOREST RANGE',
  'Gender': nan,
  'Age': nan,
  'Number of Casualties': 0,
  'License Type': nan},
 {'Date': '2018-January-Monday',
  'Time': '02:30 pm',
  'Suburb Name': 'EBA',
  'Gender': 'Male',
  'Age': '031',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '08:15 pm',
  'Suburb Name': 'WINDSOR GARDENS',
  'Gender': 'Male',
  'Age': '041',
  'Number of Casualties': 1,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '05:20 pm',
  'Suburb Name': 'WESTBOURNE PARK',
  'Gender': 'Male',
  'Age': '039',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Monday',
  'Time': '08:39 pm',
  'Suburb Name': 'PORT LINCOLN',
  'Gender': 'Male',
  'Age': '053',
  'Number of Casualties': 0,
  'License Type': 'Full'},
 {'Date': '2018-January-Tuesday',
  'Time': '12:15 am',
  'Suburb Name': 'WOODVILLE SOUTH',
  'Gender': 'Male',
  'Age': '053',
  'Number of Casualties': 1,
  'License Type': 'Full'}]

## Task 3 : Parallel Sort

###  3.1


In this task first used Quicksort as an algorithm for dividing and conquering. It selects an element as the pivot and divides the specified set around the pivot. For second part k-way merging algorithm used which is specializing in various sorted lists and merging them into a single sorted list. In next step split the file into runs for the first time so that the run size is small enough to fit into the main memory. Then sort each run using the merge sorting algorithm in the main memory. The resulting runs finally merge into successively larger runs until the file is sorted by parallel merge-all sorting method.

In [23]:
def qsort(arr, index): 

    """ 
    Quicksort a list
    
    Arguments:
    arr -- the input list to be sorted

    Return:
    result -- the sorted arr
    """
    if len(arr) <= 1:
        return arr
    else:
        #take the first element as the pivot
        pivot = arr[0]
        left_arr = [x for x in arr[1:] if x[index] < pivot[index]]
        right_arr = [x for x in arr[1:] if x[index] >= pivot[index]]
        value = qsort(left_arr, index) + [pivot] + qsort(right_arr, index)
        return value

In [24]:
# Let's first look at 'k-way merging algorithm' that will be used 
# to merge sub-record sets in our external sorting algorithm.
import sys

# Find the smallest record
def find_min_3_1(records):    
    """ 
    Find the smallest record
    
    Arguments:
    records -- the input record set

    Return:
    result -- the smallest record's index
    """
    m = records[0]
    index = 0
    for i in range(len(records)):
        if(records[i][6] < m[6]):  # Checking total cas
            index = i
            m = records[i]
    return index

def k_way_merge(record_sets):
    """ 
    K-way merging algorithm
    
    Arguments:
    record_sets -- the set of mulitple sorted sub-record sets

    Return:
    result -- the sorted and merged record set
    """
    
    # indexes will keep the indexes of sorted records in the given buffers
    indexes = []
    for x in record_sets:
        indexes.append(0) # initialisation with 0

    # final result will be stored in this variable
    result = []  
    #print(record_sets)
    while(True):
        merged_result = [] # the merging unit (i.e. # of the given buffers)
        
        # This loop gets the current position of every buffer
        for i in range(len(record_sets)):
            if(indexes[i] >= len(record_sets[i])):
                merged_result.append([sys.maxsize]*33)  # Making a list of max elements to check for end of list
            else:
                merged_result.append(record_sets[i][indexes[i]])  
        
        # find the smallest record 
        smallest = find_min_3_1(merged_result)
    
        # if we only have sys.maxsize on the tuple, we reached the end of every record set
        if(merged_result[smallest] == [sys.maxsize]*33): # Making a list of max elements to check for end of list
            break

        # This record is the next on the merged list
        result.append(record_sets[smallest][indexes[smallest]])
        indexes[smallest] +=1
   
    return result

In [25]:
def serial_sorting(dataset, buffer_size):
    """
    Perform a serial external sorting method based on sort-merge
    The buffer size determines the size of eac sub-record set

    Arguments:
    dataset -- the entire record set to be sorted
    buffer_size -- the buffer size determining the size of each sub-record set

    Return:
    result -- the sorted record set
    """
    
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []
    
    # --- Sort Phase ---
    sorted_set = []
    
    # Read buffer_size pages at a time into memory and
    # sort them, and write out a sub-record set (i.e. variable: subset)
    start_pos = 0
    N = len(dataset)
    while True:
        if ((N - start_pos) > buffer_size):
            # read B-records from the input, where B = buffer_size
            subset = dataset[start_pos:start_pos + buffer_size] 
            # sort the subset (using qucksort defined above)
            sorted_subset = qsort(subset, 6)  # Added index for quick sorting on
            sorted_set.append(sorted_subset)
            start_pos += buffer_size
        else:
            # read the last B-records from the input, where B is less than buffer_size
            subset = dataset[start_pos:] 
            # sort the subset (using qucksort defined above)
            sorted_subset = qsort(subset, 6)  # Added index for quick sorting on
            sorted_set.append(sorted_subset)
            break
    
    # --- Merge Phase ---
    merge_buffer_size = buffer_size - 1
    dataset = sorted_set
    while True:
        merged_set = []

        N = len(dataset)
        start_pos = 0
        while True:
            if ((N - start_pos) > merge_buffer_size): 
                # read C-record sets from the merged record sets, where C = merge_buffer_size
                subset = dataset[start_pos:start_pos + merge_buffer_size]
                merged_set.append(k_way_merge(subset)) # merge lists in subset
                start_pos += merge_buffer_size
            else:
                # read C-record sets from the merged sets, where C is less than merge_buffer_size
                subset = dataset[start_pos:]
                merged_set.append(k_way_merge(subset)) # merge lists in subset
                break

        dataset = merged_set
        if (len(dataset) <= 1): # if the size of merged record set is 1, then stop 
            result = merged_set
            break
    
    return result

In [26]:
# Include this package for parallel processing
import multiprocessing as mp

def parallel_merge_all_sorting(dataset, n_processor, buffer_size):
    """
    Perform a parallel merge-all sorting method

    Arguments:
    dataset -- entire record set to be sorted
    n_processor -- number of parallel processors
    buffer_size -- buffer size determining the size of each sub-record set

    Return:
    result -- the merged record set
    """
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []
    
    # Pre-requisite: Perform data partitioning using round-robin partitioning
    subsets = rr_partition(dataset, n_processor)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Sort phase -----
    sorted_set = []
    for s in subsets:
        # call the serial_sorting method above
        sorted_set.append(*pool.apply_async(serial_sorting, [s, buffer_size]).get())
    pool.close()
    
    # ---- Final merge phase ----
    #print("sorted entire set:" + str(sorted_set))
    result = k_way_merge(sorted_set)
    
    return result[0:20]

final_result = parallel_merge_all_sorting(crashReader, 4, 5)
header_list = ["REPORT_ID","Stats Area","Suburb","Postcode","LGA Name","Total Units","Total Cas",
               "Total Fats","Total SI","Total MI","Year","Month","Day","Time","Area Speed","Position Type",
               "Horizontal Align","Vertical Align","Other Feat","Road Surface","Moisture Cond","Weather Cond",
               "DayNight","Crash Type","Unit Resp","Entity Code","CSEF Severity","Traffic Ctrls","DUI Involved",
               "Drugs Involved","ACCLOC_X","ACCLOC_Y","UNIQUE_LOC"]
displayDf = pd.DataFrame(final_result, columns = header_list)
displayDf.head(20)

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2018-1-15/08/2019,2 Metropolitan,MITCHELL PARK,5043,CC MARION.,4,0,0,0,0,...,Right Angle,2,Driver Rider,1: PDO,No Control,NaN,NaN,1324362.05,1662130.48,1.324362e+13
1,2018-9-15/08/2019,2 Metropolitan,KENSINGTON,5068,"CC OF NORWOOD,PAYNEHAM & ST PETERS",3,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1332255.70,1671076.68,1.332256e+13
2,2018-13-15/08/2019,2 Metropolitan,ONE TREE HILL,5114,CITY OF PLAYFORD.,3,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,NaN,NaN,1342295.01,1695080.42,1.342295e+13
3,2018-21-15/08/2019,2 Metropolitan,WESTBOURNE PARK,5041,CC MITCHAM.,3,0,0,0,0,...,Right Turn,1,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1327546.38,1664994.52,1.327546e+13
4,2018-25-15/08/2019,2 Metropolitan,WOODVILLE WEST,5011,CITY OF CHARLES STURT,3,0,0,0,0,...,Hit Parked Vehicle,2,Driver Rider,1: PDO,No Control,Y,NaN,1322376.77,1674822.22,1.322377e+13
5,2018-33-15/08/2019,2 Metropolitan,SEATON,5023,CITY OF CHARLES STURT,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,NaN,NaN,1321463.24,1674243.72,1.321463e+13
6,2018-45-15/08/2019,2 Metropolitan,BOLIVAR,5110,CITY OF SALISBURY,2,0,0,0,0,...,Side Swipe,2,Driver Rider,1: PDO,No Control,NaN,NaN,1328187.50,1689720.89,1.328188e+13
7,2018-49-15/08/2019,3 Country,PORT WAKEFIELD,5550,WAKEFIELD REGIONAL COUNCIL,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,NaN,NaN,1294782.61,1748943.79,1.294783e+13
8,2018-69-15/08/2019,2 Metropolitan,PARA HILLS,5096,CITY OF SALISBURY,2,0,0,0,0,...,Hit Parked Vehicle,2,Driver Rider,1: PDO,No Control,NaN,NaN,1333560.24,1683844.15,1.333560e+13
9,2018-73-15/08/2019,2 Metropolitan,QUEENSTOWN,5014,CITY OF PORT ADELAIDE ENFIELD,3,0,0,0,0,...,Side Swipe,1,Driver Rider,1: PDO,No Control,NaN,NaN,1320600.17,1678608.97,1.320600e+13
10,2018-77-15/08/2019,2 Metropolitan,ELIZABETH EAST,5112,CITY OF PLAYFORD.,2,0,0,0,0,...,Side Swipe,1,Driver Rider,1: PDO,No Control,NaN,NaN,1336784.32,1693097.23,1.336784e+13
11,2018-81-15/08/2019,2 Metropolitan,WINGFIELD,5013,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,No Control,NaN,NaN,1326297.26,1681048.72,1.326297e+13
12,2018-89-15/08/2019,3 Country,NORMANVILLE,5204,DC YANKALILLA.,2,0,0,0,0,...,Right Angle,1,Driver Rider,1: PDO,Give Way Sign,NaN,NaN,1301036.33,1613660.29,1.301036e+13
13,2018-93-15/08/2019,2 Metropolitan,PENNINGTON,5013,CITY OF CHARLES STURT,4,0,0,0,0,...,Hit Parked Vehicle,1,Driver Rider,1: PDO,No Control,NaN,NaN,1322023.66,1678608.21,1.322024e+13
14,2018-97-15/08/2019,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,2,0,0,0,0,...,Hit Pedestrian,2,Driver Rider,1: PDO,No Control,NaN,NaN,1328151.10,1673061.12,1.328151e+13
15,2018-101-15/08/2019,2 Metropolitan,OAKDEN,5086,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1333383.58,1678562.84,1.333384e+13
16,2018-105-15/08/2019,2 Metropolitan,KLEMZIG,5087,CITY OF PORT ADELAIDE ENFIELD,2,0,0,0,0,...,Right Turn,2,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1331881.33,1675724.54,1.331881e+13
17,2018-109-15/08/2019,2 Metropolitan,FULLARTON,5063,CITY OF UNLEY,2,0,0,0,0,...,Side Swipe,1,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1331543.59,1667679.12,1.331544e+13
18,2018-121-15/08/2019,2 Metropolitan,WINGFIELD,5013,CITY OF PORT ADELAIDE ENFIELD,3,0,0,0,0,...,Rear End,1,Driver Rider,1: PDO,Traffic Signals,NaN,NaN,1323910.90,1679152.49,1.323911e+13
19,2018-125-15/08/2019,2 Metropolitan,GLENUNGA,5064,CITY OF BURNSIDE,2,0,0,0,0,...,Side Swipe,1,Driver Rider,1: PDO,No Control,NaN,NaN,1331786.07,1667298.08,1.331786e+13

### 3.2


used parallel binary merge sort method to sort the crsh data vase on date. first need to pre processing the data to generate a combined date field.

In [27]:
unitsDf['Veh Year'].unique()

array(['2006', nan, '2017', '2015', '2005', '2009', '2004', '2011',
       '2000', '2008', '2003', '2016', '1999', '2001', '2002', '2014',
       'XXXX', '2007', '1998', '1997', '1996', '2013', '2010', '1994',
       '1993', '1990', '2012', '1995', '1988', '1989', '1973', '1991',
       '1986', '1957', '1992', '1980', '1982', '1977', '1985', '1978',
       '1971', '1987', '1969', '1984', '1981', '1966', '1951', '2018',
       '1955', '1983', '1968', '1964', '1976', '1967', '1900', '1965',
       '1979', '1962', '1974', '1934'], dtype=object)

In [28]:
tempUnitsDf = unitsDf.copy()
tempUnitsDf = tempUnitsDf[(tempUnitsDf['Veh Year'] != 'XXXX')]
tempUnitsDf = tempUnitsDf.dropna(subset=['Veh Year'])

In [29]:
tempUnitsDf = tempUnitsDf.astype({"Veh Year": int})

In [30]:
tempUnitsDf['Veh Year'].unique()

array([2006, 2017, 2015, 2005, 2009, 2004, 2011, 2000, 2008, 2003, 2016,
       1999, 2001, 2002, 2014, 2007, 1998, 1997, 1996, 2013, 2010, 1994,
       1993, 1990, 2012, 1995, 1988, 1989, 1973, 1991, 1986, 1957, 1992,
       1980, 1982, 1977, 1985, 1978, 1971, 1987, 1969, 1984, 1981, 1966,
       1951, 2018, 1955, 1983, 1968, 1964, 1976, 1967, 1900, 1965, 1979,
       1962, 1974, 1934])

In [31]:
def qsort_q3(arr, index): 

    """ 
    Quicksort a list
    
    Arguments:
    arr -- the input list to be sorted

    Return:
    result -- the sorted arr
    """
    if len(arr) <= 1:
        return arr
    else:
        #take the first element as the pivot
        pivot = arr[0]
        left_arr = [x for x in arr[1:] if int(x[index]) < int(pivot[index])]
        right_arr = [x for x in arr[1:] if int(x[index]) >= int(pivot[index])]
        value = qsort_q3(left_arr, index) + [pivot] + qsort_q3(right_arr, index)
        return value

In [32]:
# Let's first look at 'k-way merging algorithm' that will be used 
# to merge sub-record sets in our external sorting algorithm.
import sys

# Find the smallest record
def find_min(records):    
    """ 
    Find the smallest record
    
    Arguments:
    records -- the input record set

    Return:
    result -- the smallest record's index
    """
    m = records[0]
    index = 0
    for i in range(len(records)):
        if(int(records[i][5]) < int(m[5])):  # Comparing for min veh year
            index = i
            m = records[i]
    return index

def k_way_merge_binary(record_sets):
    """ 
    K-way merging algorithm
    
    Arguments:
    record_sets -- the set of mulitple sorted sub-record sets

    Return:
    result -- the sorted and merged record set
    """
    
    # indexes will keep the indexes of sorted records in the given buffers
    indexes = []
    for x in record_sets:
        indexes.append(0) # initialisation with 0

    # final result will be stored in this variable
    result = []  
    #print(record_sets)
    while(True):
        merged_result = [] # the merging unit (i.e. # of the given buffers)
        
        # This loop gets the current position of every buffer
        for i in range(len(record_sets)):
            if(indexes[i] >= len(record_sets[i])):
                merged_result.append([2030]*33)  # Maximum year for finding last element
            else:
                merged_result.append(record_sets[i][indexes[i]])  
        
        # find the smallest record 
        smallest = find_min(merged_result)
    
        # if we only have sys.maxsize on the tuple, we reached the end of every record set
        if(merged_result[smallest] == [2030]*33):  # Maximum year for finding last element
            break

        # This record is the next on the merged list
        result.append(record_sets[smallest][indexes[smallest]])
        indexes[smallest] +=1
   
    return result

In [33]:
def serial_sorting_binary(dataset, buffer_size):
    """
    Perform a serial external sorting method based on sort-merge
    The buffer size determines the size of eac sub-record set

    Arguments:
    dataset -- the entire record set to be sorted
    buffer_size -- the buffer size determining the size of each sub-record set

    Return:
    result -- the sorted record set
    """
    
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []
    
    # --- Sort Phase ---
    sorted_set = []
    
    # Read buffer_size pages at a time into memory and
    # sort them, and write out a sub-record set (i.e. variable: subset)
    start_pos = 0
    N = len(dataset)
    while True:
        if ((N - start_pos) > buffer_size):
            # read B-records from the input, where B = buffer_size
            subset = dataset[start_pos:start_pos + buffer_size] 
            # sort the subset (using qucksort defined above)
            sorted_subset = qsort_q3(subset, 5)  # adding index for quick sorting - veh year
            sorted_set.append(sorted_subset)
            start_pos += buffer_size
        else:
            # read the last B-records from the input, where B is less than buffer_size
            subset = dataset[start_pos:] 
            # sort the subset (using qucksort defined above)
            sorted_subset = qsort_q3(subset, 5)  # adding index for quick sorting - veh year
            sorted_set.append(sorted_subset)
            break
    
    # --- Merge Phase ---
    merge_buffer_size = buffer_size - 1
    dataset = sorted_set
    while True:
        merged_set = []

        N = len(dataset)
        start_pos = 0
        while True:
            if ((N - start_pos) > merge_buffer_size): 
                # read C-record sets from the merged record sets, where C = merge_buffer_size
                subset = dataset[start_pos:start_pos + merge_buffer_size]
                merged_set.append(k_way_merge_binary(subset)) # merge lists in subset
                start_pos += merge_buffer_size
            else:
                # read C-record sets from the merged sets, where C is less than merge_buffer_size
                subset = dataset[start_pos:]
                merged_set.append(k_way_merge_binary(subset)) # merge lists in subset
                break

        dataset = merged_set
        if (len(dataset) <= 1): # if the size of merged record set is 1, then stop 
            result = merged_set
            break
    
    return result

In [34]:
def parallel_binary_merge_sorting(dataset, n_processor, buffer_size):
    """
    Perform a parallel binary-merge sorting method

    Arguments:
    dataset -- entire record set to be sorted
    n_processor -- number of parallel processors
    buffer_size -- buffer size determining the size of each sub-record set

    Return:
    result -- the merged record set
    """
    
    if (buffer_size <= 2):
        print("Error: buffer size should be greater than 2")
        return
    
    result = []

    # Pre-requisite: Perform data partitioning using round-robin partitioning
    subsets = rr_partition(dataset, n_processor)
    
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Sort phase -----
    sorted_set = []
    for s in subsets:
        # call the serial_sorting method above
        sorted_set.append(*pool.apply_async(serial_sorting_binary, [s, buffer_size]).get())
    pool.close()
    
    # ---- Final merge phase ----
    #print("sorted entire set:" + str(sorted_set))
    dataset = sorted_set
    while True:
        merged_set = []

        N = len(dataset)
        start_pos = 0
        pool = mp.Pool(processes = N//2)

        while True:
            if ((N - start_pos) > 2): 
                subset = dataset[start_pos:start_pos + 2]
                merged_set.append(pool.apply(k_way_merge_binary, [subset]))
                start_pos += 2
            else:
                subset = dataset[start_pos:]
                merged_set.append(pool.apply(k_way_merge_binary, [subset]))
                break
        
        pool.close()
        dataset = merged_set
        
        if (len(dataset) == 1): # if the size of merged record set is 1, then stop 
            result = merged_set
            break
    
    return result[0][0:30]


result = parallel_binary_merge_sorting(tempUnitsDf.values.tolist(), 4, 5)
for item in result:
    outputList = {}
    outputList['Report ID'] = item[0]
    outputList['Unit No'] = item[1]
    outputList['Vehicle Registration State'] = item[3]
    outputList['Vehicle Year'] = item[5]
    outputList['License State'] = item[9]
    print(outputList)

{'Report ID': '2018-12792-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1900, 'License State': 'SA'}
{'Report ID': '2018-6385-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1900, 'License State': 'SA'}
{'Report ID': '2018-9371-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1900, 'License State': 'UNKNOWN'}
{'Report ID': '2018-12484-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1934, 'License State': 'SA'}
{'Report ID': '2018-2351-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1951, 'License State': 'SA'}
{'Report ID': '2018-2981-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1955, 'License State': 'SA'}
{'Report ID': '2018-1583-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1957, 'License State': 'SA'}
{'Report ID': '2018-238-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1957, 'License State': 'SA'}
{'Report ID': '2018-7265-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'VIC', 'Vehicle Year': 1962, 'License State': 'SA'}
{'Report ID': '2018-4197-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1964, 'License State': 'UNKNOWN'}
{'Report ID': '2018-12413-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1965, 'License State': 'SA'}
{'Report ID': '2018-6392-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1965, 'License State': 'SA'}
{'Report ID': '2018-11816-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'VIC', 'Vehicle Year': 1965, 'License State': 'SA'}
{'Report ID': '2018-2281-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1966, 'License State': 'SA'}
{'Report ID': '2018-5065-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1967, 'License State': 'SA'}
{'Report ID': '2018-12810-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1967, 'License State': 'SA'}
{'Report ID': '2018-3626-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1968, 'License State': 'SA'}
{'Report ID': '2018-1602-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-11020-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-7498-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-10950-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-11274-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-2652-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-2893-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-3207-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1969, 'License State': 'SA'}
{'Report ID': '2018-7495-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1971, 'License State': 'SA'}
{'Report ID': '2018-1799-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1971, 'License State': 'VIC'}
{'Report ID': '2018-1436-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1971, 'License State': 'SA'}
{'Report ID': '2018-2133-15/08/2019', 'Unit No': 1, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1971, 'License State': 'SA'}
{'Report ID': '2018-148-15/08/2019', 'Unit No': 2, 'Vehicle Registration State': 'SA', 'Vehicle Year': 1973, 'License State': 'SA'}

## Task 4 : Parallel Group By:

### 4.1


The function of Pandas dataframe.groupby is used to divide the data into groups based on certain criteria. Pandas objects on any of their axes can be split. The abstract grouping definition is to provide group names with a mapping of labels, then performed a parallel merge_all groupby method to enabling parallel processing and aggregate record dictionary according to the group_by attribute.

In [35]:
crashDf['Crash Type'].unique()

array(['Right Angle', 'Rear End', 'Right Turn', 'Hit Fixed Object',
       'Other', 'Hit Animal', 'Hit Parked Vehicle', 'Roll Over',
       'Hit Pedestrian', 'Side Swipe', 'Left Road - Out of Control',
       'Head On', 'Hit Object on Road'], dtype=object)

In [36]:
# The first step in the merge-all groupby method
def local_groupby(dataset, key_index, value_index):
    """
    Perform a local groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record set according to the group_by attribute index
    """

    dict = {}
    for index, record in enumerate(dataset):
        key = record[key_index]
        val = record[value_index]
        if key not in dict:
            dict[key] = 0
        dict[key] += val
    return dict

In [37]:
def parallel_merge_all_groupby(dataset):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}

    # Define the number of parallel processors: the number of sub-datasets.
    n_processor = len(dataset)

    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Local aggregation step -----
    # Implement here
    local_result = []
    for s in dataset:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby, [s, 23, 7]))
    pool.close()

    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    # Implement here
    for r in local_result:
        for key, val in r.items():
            if key not in result:
                result[key] = 0
            result[key] += val    
    
    return result

# Partitioning the data - initial placement
partitioned_data = rr_partition(crashReader, 5)
parallel_merge_all_groupby(partitioned_data)

{'Right Angle': 5,
 'Hit Fixed Object': 25,
 'Rear End': 3,
 'Right Turn': 4,
 'Hit Parked Vehicle': 3,
 'Hit Animal': 2,
 'Roll Over': 11,
 'Side Swipe': 2,
 'Hit Pedestrian': 6,
 'Head On': 18,
 'Left Road - Out of Control': 1,
 'Other': 0,
 'Hit Object on Road': 0}

In [38]:
crashDf.groupby('Crash Type').sum()

,Postcode,Total Units,Total Cas,Total Fats,Total SI,Total MI,Year,Area Speed,Unit Resp,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
Crash Type,,,,,,,,,,,,
Head On,1347970,566,234,18,54,162,524680,18940,408,3.485262e+08,4.345050e+08,3.485263e+15
Hit Animal,983765,386,44,2,8,34,375348,17970,338,2.461835e+08,3.243478e+08,2.461836e+15
Hit Fixed Object,11537193,4806,846,25,136,685,4502158,156090,2551,2.978656e+09,3.741736e+09,2.978657e+16
Hit Object on Road,206445,92,9,0,2,7,80720,2950,48,5.351712e+07,6.679176e+07,5.351712e+14
Hit Parked Vehicle,5145539,2239,224,3,19,202,2038180,53635,1454,1.344339e+09,1.682914e+09,1.344339e+16
Hit Pedestrian,2139637,886,298,6,59,233,845542,22915,679,5.574967e+08,7.010442e+08,5.574968e+15
Left Road - Out of Control,685921,130,52,1,5,46,260322,10875,201,1.689978e+08,2.236837e+08,1.689979e+15
Other,455249,181,26,0,4,22,177584,6750,197,1.164841e+08,1.485800e+08,1.164841e+15
Rear End,18218205,8425,1680,3,44,1633,7216368,229045,5534,4.756208e+09,5.984002e+09,4.756209e+16
Right Angle,12941984,5271,1266,5,80,1181,5103522,148865,3840,3.367754e+09,4.230559e+09,3.367754e+16
Right Turn,5409793,2245,608,4,46,558,2147152,63910,1589,1.416803e+09,1.777995e+09,1.416803e+16
Roll Over,3119398,689,450,11,95,344,1202728,48820,846,7.786640e+08,1.029368e+09,7.786641e+15
Side Swipe,7485629,3117,387,2,24,361,2968478,90875,2421,1.956291e+09,2.463106e+09,1.956291e+16

### 4.2

One of the primary benefits of Spectral clustering is its flexibility to integrate similarity function groups with an benefit over a traditional k-means algorithm also when the amount of organizations is low, the two-phase technique operates well, while the redistribution technique works well when the amount of organizations is big.

In [39]:
# Range data partitionining function (Need to modify as instructed above)
def range_partition_q4(data, range_indices):
    """
    Perform range data partitioning on data based on the join attribute

    Arguments:
    data -- an input dataset which is a list
    range_indices -- the index list of ranges to be s:plit

    Return:
    result -- the paritioned subsets of D
    """
    result = []
    
    # First, we sort the dataset according to unique key in REPORT_ID which is at index 5  
    new_data = [ [k,v] for k, v in data.items() ]
    new_data.sort(key = lambda x: x[0])
    
    # Calculate the number of bins
    n_bin = len(range_indices) 

    # For each bin, perform the following
    for i in range(n_bin): 
        # Find elements to be belonging to each range
        s = [x for x in new_data if x[0] < range_indices[i]] 
        # Add the partitioned list to the result
        result.append(s) 
        # Find the last element in the previous partition
        last_element = s[len(s)-1]
        # Find the index of of the last element
        last = new_data.index(last_element)
        # Remove the partitioned list from the dataset
        new_data = new_data[int(last)+1:] 

        # Append the last remaining data list
    result.append([x for x in new_data if x[0] >= range_indices[n_bin-1]]) 
    
    return result

In [40]:
def two_phase_merge_all_groupby(dataset):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}

    # Define the number of parallel processors: the number of sub-datasets.
    n_processor = len(dataset)

    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Local aggregation step -----
    # Implement here
    local_result = []
    for s in dataset:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby, [s, 2, 6]))
    pool.close()
    
    # Result list for adding range redistribution results
    redistribution_results = [ [] for i in range(len(local_result))]
    for item in local_result:
        range_data = range_partition_q4(item, ['H','M'])  # redistribute b
        for i in range(len(redistribution_results)):
            redistribution_results[i].extend(range_data[i])
        
    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    # Implement here
    for r in redistribution_results:
        for item in r:
            key = item[0]
            val = item[1]
            if key not in result:
                result[key] = 0
            result[key] += val    
    
    return result

# Partitioning the data - initial placement
partitioned_data = rr_partition(crashReader, 3)
final_results = two_phase_merge_all_groupby(partitioned_data)
for item in sorted(final_results.keys()):
    print(item,':', final_results[item])

ABERFOYLE PARK : 6
ABMINGA STATION : 0
ADELAIDE : 211
ADELAIDE AIRPORT : 6
AGERY : 1
ALBERT PARK : 10
ALBERTON : 9
ALDGATE : 7
ALDINGA : 10
ALDINGA BEACH : 12
ALFORD : 1
ALLENBY GARDENS : 2
ALMA : 1
ANANGU PITJANTJATJARA YANKUNYTJATJARA : 3
ANDREWS FARM : 12
ANGAS PLAINS : 0
ANGASTON : 9
ANGLE PARK : 2
ANGLE VALE : 7
ANNA CREEK : 2
ANNADALE : 5
APAMURRA : 1
ARCOONA : 2
ARDROSSAN : 0
ARMAGH : 3
ARTHURTON : 1
ASCOT PARK : 6
ASHBOURNE : 3
ASHFORD : 2
ASHTON : 1
ATHELSTONE : 10
ATHOL PARK : 5
AUSTRALIA PLAINS : 1
AVENUE RANGE : 1
BALAKLAVA : 3
BALD HILLS : 0
BALGOWAN : 1
BALHANNAH : 3
BANGHAM : 0
BANGOR : 6
BANKSIA PARK : 2
BARMERA : 7
BARNA : 0
BARNDIOOTA : 1
BAROOTA : 1
BASKET RANGE : 2
BEACHPORT : 0
BEAUFORT : 2
BEAUMONT : 0
BEDFORD PARK : 19
BEETALOO VALLEY : 4
BELAIR : 14
BELALIE EAST : 4
BELALIE NORTH : 0
BELLEVUE HEIGHTS : 2
BELTANA : 0
BERRI : 5
BETHEL : 2
BEULAH PARK : 2
BEVERLEY : 10
BIBARINGA : 3
BIGGS FLAT : 0
BIRDWOOD : 8
BIRKENHEAD : 9
BLACK FOREST : 3
BLACK POINT : 0
BLACK SPRINGS : 0
BLACKFELLOWS CAVES : 1
BLACKWOOD : 18
BLAIR ATHOL : 14
BLAKEVIEW : 15
BLANCHETOWN : 3
BLEWITT SPRINGS : 1
BLINMAN : 1
BLYTH : 4
BOCONNOC PARK : 0
BOLIVAR : 9
BOLLARDS LAGOON : 1
BOOBOROWIE : 1
BOOKABIE : 0
BOOLEROO CENTRE : 0
BOORS PLAIN : 0
BORDERTOWN : 7
BOSTON : 0
BOWDEN : 4
BOWER : 0
BOWHILL : 2
BOWMANS : 0
BRAHMA LODGE : 9
BRAY : 0
BRIDGEWATER : 6
BRIGHTON : 19
BRIMBAGO : 1
BRINKLEY : 0
BRINKWORTH : 2
BROADVIEW : 15
BROMPTON : 8
BROOKLYN PARK : 26
BROWN HILL CREEK : 0
BRUKUNGA : 1
BUCHANAN : 1
BUCHFELDE : 2
BUCKLAND PARK : 3
BUGLE RANGES : 1
BULGUNNIA : 0
BULL CREEK : 1
BUMBUNGA : 0
BUNDALEER NORTH : 0
BUNGAMA : 1
BUNGAREE : 1
BURDETT : 0
BURNSIDE : 5
BURRA : 3
BURRUNGULE : 4
BURTON : 15
CADELL : 1
CADGEE : 1
CALLINGTON : 4
CAMBRAI : 0
CAMDEN PARK : 7
CAMPBELLTOWN : 26
CANNAWIGARA : 1
CAPE BORDA : 0
CAPE JERVIS : 0
CARAWA : 0
CAREY GULLY : 1
CARRICKALINGA : 0
CASTAMBUL : 1
CAVAN : 15
CAVETON : 1
CEDUNA : 1
CHAFFEY : 0
CHAIN OF PONDS : 7
CHANDLERS HILL : 10
CHARLESTON : 6
CHELTENHAM : 14
CHERRY GARDENS : 3
CHERRYVILLE : 1
CHRISTIE DOWNS : 9
CHRISTIES BEACH : 13
CLAPHAM : 4
CLARE : 2
CLARENCE GARDENS : 7
CLARENCE PARK : 6
CLARENDON : 2
CLAY WELLS : 1
CLEARVIEW : 8
CLELAND : 13
CLEMENTS GAP : 1
CLEVE : 1
CLINTON : 3
CLOVELLY PARK : 13
COBDOGLA : 1
COCKATOO VALLEY : 2
COCKBURN : 1
COFFIN BAY : 0
COLLEGE PARK : 3
COLLINSVILLE : 1
COLLINSWOOD : 8
COLONEL LIGHT GARDENS : 6
CONCORDIA : 1
COOBER PEDY : 13
COOMANDOOK : 2
COOMBE : 2
COOMUNGA : 5
COONALPYN : 7
COONAMIA : 0
COONAWARRA : 3
COONDAMBO : 0
COORABIE : 2
COORONG : 2
COOTRA : 0
COROMANDEL EAST : 0
COROMANDEL VALLEY : 2
COULTA : 1
COWANDILLA : 5
COWELL : 0
COWIRRA : 1
CRAFERS : 8
CRAFERS WEST : 7
CRAIGBURN FARM : 0
CRAIGMORE : 18
CRESCENT : 0
CROMER : 6
CROSS ROADS : 0
CROYDON : 12
CROYDON PARK : 9
CRYSTAL BROOK : 2
CUDLEE CREEK : 9
CULBURRA : 0
CULTANA : 0
CUMBERLAND PARK : 9
CUMMINS : 2
CUNGENA : 1
CUNLIFFE : 0
CURRAMULKA : 0
CURRENCY CREEK : 10
CYGNET RIVER : 2
DARKE PEAK : 2
DARLINGTON : 11
DAVEYSTON : 0
DAVOREN PARK : 12
DAW PARK : 6
DAWESLEY : 7
DE ROSE HILL : 1
DEEP CREEK : 1
DELAMERE : 3
DERNANCOURT : 10
DEVLINS POUND : 1
DEVON PARK : 0
DINGABLEDINGA : 1
DIREK : 2
DISMAL SWAMP : 2
DONOVANS : 0
DOVER GARDENS : 9
DOWLINGVILLE : 2
DRY CREEK : 21
DUBLIN : 9
DUCK PONDS : 2
DUDLEY PARK : 2
DULWICH : 6
EAST MOONTA : 0
EASTWOOD : 6
EBA : 0
ECHUNGA : 10
EDEN HILLS : 11
EDEN VALLEY : 1
EDINBURGH : 19
EDINBURGH NORTH : 4
EDITHBURGH : 0
EDWARDSTOWN : 29
ELIZABETH : 20
ELIZABETH DOWNS : 17
ELIZABETH EAST : 25
ELIZABETH GROVE : 13
ELIZABETH NORTH : 12
ELIZABETH PARK : 26
ELIZABETH SOUTH : 20
ELIZABETH VALE : 12
ELLISTON : 0
ELWOMPLE : 2
ENCOUNTER BAY : 1
ENFIELD : 33
ERINDALE : 0
ERITH : 1
ETHELTON : 1
ETTRICK : 1
EUDUNDA : 2
EURELIA : 0
EVANDALE : 1
EVANSTON : 9
EVANSTON GARDENS : 2
EVANSTON PARK : 6
EVANSTON SOUTH : 7
EVARARD PARK : 0
EVERARD PARK : 6
EXETER : 3
EYRE : 16
FAIRVIEW PARK : 1
FARINA STATION : 0
FELIXSTOW : 3
FERRYDEN PARK : 2
FIELD : 0
FINDON : 19
FINNISS : 0
FIRLE : 12
FISHER : 0
FITZROY : 6
FLAGSTAFF HILL : 7
FLINDERS CHASE : 0
FLINDERS PARK : 20
FLINDERS RANGES : 4
FORDS : 2
FOREST RANGE : 3
FORESTVILLE : 1
FORRESTON : 6
FRANKTON : 1
FREELING : 4
FREWVILLE : 1
FULHAM : 4
FULHAM GARDENS : 12
FULLARTON : 11
GAWLER : 8
GAWLER BELT : 6
GAWLER EAST : 4
GAWLER RIVER : 0
GAWLER SOUTH : 7
GAWLER WEST : 6
GEMMELLS : 3
GEORGETOWN : 1
GEPPS CROSS : 46
GERANIUM : 3
GERARD : 0
GERMAN CREEK : 1
GIDGEALPA : 1
GILBERTON : 2
GILES CORNER : 0
GILLES DOWNS : 1
GILLES PLAINS : 11
GILLMAN : 4
GLADSTONE : 1
GLANDORE : 9
GLANVILLE : 1
GLEN OSMOND : 5
GLENALTA : 4
GLENBURNIE : 3
GLENCOE : 1
GLENELG : 14
GLENELG EAST : 14
GLENELG NORTH : 20
GLENELG SOUTH : 10
GLENGOWRIE : 10
GLENROY : 1
GLENSIDE : 15
GLENUNGA : 5
GLOBE DERBY PARK : 8
GLOSSOP : 2
GLYNDE : 5
GOLDEN GROVE : 7
GOLDEN HEIGHTS : 0
GOMERSAL : 1
GOOD HOPE LANDING : 4
GOODWOOD : 6
GOOLWA : 2
GOOLWA BEACH : 1
GOOLWA NORTH : 0
GOSSE : 1
GOULD CREEK : 4
GRANGE : 7
GREEN FIELDS : 14
GREENACRES : 10
GREENHILL : 3
GREENOCK : 5
GREENWITH : 5
GULFVIEW HEIGHTS : 7
GULFVIEW HIGHTS : 0
GULNARE : 0
GUMERACHA : 6
GURRA GURRA : 2
HACKHAM : 5
HACKHAM WEST : 5
HACKNEY : 15
HAHNDORF : 8
HAINES : 2
HALBURY : 1
HALLETT : 3
HALLETT COVE : 12
HAMILTON : 0
HAMLEY BRIDGE : 4
HAMPSTEAD GARDENS : 4
HAPPY VALLEY : 20
HARROGATE : 0
HARTLEY : 5
HAWKER : 0
HAWSON : 0
HAWTHORN : 13
HAWTHORNDENE : 5
HAY FLAT : 3
HAYBOROUGH : 2
HAZELWOOD PARK : 6
HEATHFIELD : 1
HEATHPOOL : 2
HECTORVILLE : 10
HENDON : 0
HENLEY BEACH : 20
HENLEY BEACH SOUTH : 7
HEWETT : 0
HIGHBURY : 8
HIGHGATE : 2
HIGHLAND VALLEY : 0
HILL RIVER : 1
HILLBANK : 13
HILLCREST : 6
HILLIER : 4
HILTON : 11
HINDMARSH : 24
HINDMARSH ISLAND : 2
HINDMARSH TIERS : 0
HINDMARSH VALLEY : 9
HOLDEN HILL : 21
HOLDER : 0
HOPE FOREST : 3
HOPE GAP : 4
HOPE VALLEY : 17
HORSNELL GULLY : 0
HOSKIN CORNER : 1
HOUGHTON : 7
HOVE : 11
HUDDLESTON : 3
HUMBUG SCRUB : 1
HUNTFIELD HEIGHTS : 6
HYDE PARK : 1
HYNAM : 1
INGLE FARM : 29
INGLEWOOD : 4
INGOMAR : 3
INKERMAN : 0
INMAN VALLEY : 3
INNESTON : 1
IRON KNOB : 1
IRONBANK : 3
IRONSTONE : 1
IWANTJA : 0
JABUK : 3
JAMESTOWN : 1
JERUSALEM : 0
JERVOIS : 0
JOANNA : 1
JOSLIN : 2
KADINA : 10
KALANGADOO : 1
KALBEEBA : 5
KALTJITI : 3
KANAGARILLA : 1
KANGARILLA : 7
KANGAROO FLAT : 3
KANGAROO HEAD : 1
KANMANTOO : 1
KANNI : 0
KANPI : 0
KANYAKA : 3
KAPUNDA : 6
KARATTA : 3
KAROONDA : 4
KEILIRA : 0
KEITH : 3
KELLY : 0
KENSINGTON : 15
KENSINGTON  : 0
KENSINGTON GARDENS : 6
KENSINGTON PARK : 12
KENT TOWN : 13
KENTON VALLEY : 0
KEPPOCH : 2
KERSBROOK : 8
KESWICK : 20
KESWICK TERMINAL : 19
KEYNETON : 1
KI KI : 1
KIDMAN PARK : 13
KIELPA : 0
KILBURN : 20
KILKENNY : 8
KIMBA : 0
KINGS PARK : 4
KINGSCOTE : 5
KINGSFORD : 0
KINGSTON ON MURRAY : 0
KINGSTON PARK : 0
KINGSTON SE : 1
KINGSWOOD : 13
KLEMZIG : 29
KOHINOOR : 0
KONGORONG : 3
KOOLUNGA : 1
KOOLYWURTIE : 3
KOONGAWA : 0
KOONUNGA : 2
KOOTABERRA : 2
KORUNYE : 4
KUDLA : 3
KUITPO : 3
KUITPO COLONY : 0
KULPARA : 0
KURRALTA PARK : 27
KYANCUTTA : 1
KYBUNGA : 0
KYBYBOLITE : 0
LAFFER : 0
LAKE GILLES : 1
LAMEROO : 1
LANGHORNE CREEK : 1
LARGS BAY : 10
LARGS NORTH : 2
LAURA : 1
LEABROOK : 7
LEASINGHAM : 0
LEAWOOD GARDENS : 4
LENSWOOD : 3
LEWISTON : 3
LIGHT PASS : 2
LIGHTSVIEW : 6
LINCOLN GAP : 0
LINDEN PARK : 7
LINWOOD : 1
LITTLEHAMPTON : 2
LOBETHAL : 9
LOCK : 0
LOCKLEYS : 13
LONG FLAT : 1
LONG PLAINS : 1
LONGWOOD : 0
LONSDALE : 12
LOUTH BAY : 1
LOWBANK : 1
LOWER INMAN VALLEY : 0
LOWER LIGHT : 3
LOWER MITCHAM : 2
LOXTON : 4
LOXTON NORTH : 1
LYNDOCH : 7
LYNTON : 2
LYRUP : 0
MACCLESFIELD : 3
MACDONALD PARK : 0
MACGILLIVRAY : 1
MAGDALA : 3
MAGGEA : 1
MAGILL : 17
MAITLAND : 1
MALLALA : 7
MALVERN : 11
MAMBRAY CREEK : 5
MANNA HILL : 0
MANNINGHAM : 10
MANNUM : 4
MANSFIELD PARK : 7
MARANANGA : 2
MARBLE HILL : 0
MARCOLLAT : 1
MARDEN : 6
MARINO : 0
MARION : 14
MARLA : 1
MARLESTON : 5
MARRYATVILLE : 10
MASLIN BEACH : 1
MATTA FLAT : 1
MAWSON LAKES : 56
MAYLANDS : 14
MCCRACKEN : 1
MCDOUALL PEAK : 1
MCLAREN FLAT : 4
MCLAREN VALE : 31
MEADOWS : 9
MEDINDIE : 31
MEDINDIE GARDENS : 2
MELROSE : 1
MELROSE PARK : 16
MENINGIE : 3
MERIBAH : 1
MERRITON : 1
MERTY MERTY : 1
MIDDLEBACK RANGE : 0
MIDDLETON : 5
MIDGEE : 1
MIL-LEL : 0
MILANG : 1
MILE END : 25
MILE END SOUTH : 2
MILLBROOK : 6
MILLICENT : 9
MILLSWOOD : 2
MIMILI : 7
MINBRIE : 1
MINGBOOL : 0
MINLATON : 4
MINTARO : 1
MIRANDA : 0
MITCHAM : 6
MITCHELL PARK : 36
MITCHELLVILLE : 0
MOANA : 2
MOCULTA : 1
MODBURY : 42
MODBURY HEIGHTS : 7
MODBURY NORTH : 20
MONARTO : 2
MONARTO SOUTH : 6
MONASH : 3
MONTACUTE : 6
MONTEITH : 5
MOONTA : 10
MOONTA BAY : 0
MOORAK : 3
MOORLANDS : 0
MORCHARD : 4
MORGAN : 2
MORN HILL : 3
MORPHETT VALE : 51
MORPHETTVILLE : 8
MORTANA : 1
MOSELEY : 1
MOSQUITO HILL : 1
MOUNT BARKER : 59
MOUNT BARKER JUNCTION : 1
MOUNT BARKER SPRINGS : 0
MOUNT BARKER SUMMIT : 0
MOUNT BENSON : 1
MOUNT BRYAN : 0
MOUNT BURR : 1
MOUNT CHARLES : 1
MOUNT COMPASS : 7
MOUNT CRAWFORD : 3
MOUNT EBA : 2
MOUNT GAMBIER : 54
MOUNT GEORGE : 4
MOUNT JAGGED : 3
MOUNT LIGHT : 2
MOUNT MARY : 1
MOUNT MCINTYRE : 0
MOUNT OBSERVATION : 1
MOUNT OSMOND : 1
MOUNT PLEASANT : 4
MOUNT SCHANK : 8
MOUNT TORRENS : 1
MOUNT WILLOUGHBY : 4
MULGUNDAWA : 0
MULLAQUANA : 0
MULOORINA : 1
MULYUNGARIE : 0
MUNDULLA : 4
MUNNO PARA : 26
MUNNO PARA DOWNS : 1
MUNNO PARA WEST : 11
MURBKO : 1
MURRAY BRIDGE : 23
MURRAY BRIDGE EAST : 3
MURRAY BRIDGE NORTH : 3
MUSTON : 1
MYLOR : 3
MYPOLONGA : 0
MYPONGA : 4
MYRTLE BANK : 8
NACKARA : 2
NAILSWORTH : 9
NAIRNE : 7
NALYAPPA : 2
NANGKITA : 2
NANGWARRY : 3
NANTAWARRA : 0
NAPPERBY : 1
NARACOORTE : 7
NARRUNG : 1
NEALES FLAT : 1
NECTAR BROOK : 0
NELSHABY : 0
NEPEAN BAY : 7
NETHERBY : 5
NETLEY : 4
NEW PORT : 0
NEW TOWN : 2
NEWTON : 6
NGAPALA : 0
NILDOTTIE : 0
NILPENA : 2
NOARLUNGA CENTRE : 21
NOARLUNGA DOWNS : 11
NORMANVILLE : 0
NORTH ADELAIDE : 67
NORTH BRIGHTON : 3
NORTH HAVEN : 5
NORTH PLYMPTON : 6
NORTH SHIELDS : 1
NORTHERN HEIGHTS : 0
NORTHFIELD : 5
NORTHGATE : 3
NORTON SUMMIT : 5
NORWOOD : 54
NOVAR GARDENS : 3
NULLARBOR : 12
NURIOOTPA : 37
NURRAGI : 0
O'HALLORAN HILL : 11
O'SULLIVAN BEACH : 1
OAKBANK : 2
OAKDEN : 11
OAKDEN HILLS : 0
OAKLANDS PARK : 19
OB FLAT : 3
OLARY : 1
OLD CALPERUM : 1
OLD NOARLUNGA : 9
OLD REYNELLA : 7
ONE TREE HILL : 5
ONKAPARINGA HILLS : 10
OODNADATTA : 1
OSBORNE : 4
OTTOWAY : 11
OUTER HARBOR : 2
OVERLAND CORNER : 2
OVINGHAM : 10
OWEN : 0
PADTHAWAY : 1
PAECHTOWN : 4
PAGES FLAT : 2
PAISLEY : 0
PALLAMANA : 0
PALMER : 1
PANDIE PANDIE : 2
PANDURRA : 3
PANITYA : 1
PANORAMA : 4
PARA HILLS : 16
PARA HILLS WEST : 30
PARA VISTA : 3
PARACOMBE : 7
PARADISE : 34
PARAFIELD : 9
PARAFIELD GARDENS : 36
PARALOWIE : 33
PARAWA : 3
PARILLA : 1
PARINGA : 0
PARIS CREEK : 3
PARK HOLME : 25
PARKSIDE : 23
PARNAROO : 1
PARRAKIE : 2
PASADENA : 10
PASKEVILLE : 0
PAYNEHAM : 14
PAYNEHAM SOUTH : 5
PEAKE : 1
PEARLAH : 0
PEEBINGA : 2
PEKINA : 0
PELICAN LAGOON : 5
PENFIELD : 11
PENFIELD GARDENS : 18
PENNINGTON : 5
PENOLA : 2
PENONG : 1
PENRICE : 1
PETERBOROUGH : 2
PETERHEAD : 1
PETWOOD : 2
PEWSEY VALE : 0
PICCADILLY : 0
PINE HILL : 0
PINE POINT : 0
PINERY : 1
PINKERTON PLAINS : 0
PINNAROO : 10
PIRIE EAST : 3
PLYMPTON : 19
PLYMPTON PARK : 5
POINT PEARCE : 0
POINT STURT : 1
POLTALLOCH : 4
POOCHERA : 1
POOGINAGORIC : 0
POORAKA : 33
PORT ADELAIDE : 27
PORT AUGUSTA : 9
PORT AUGUSTA WEST : 3
PORT BROUGHTON : 1
PORT ELLIOT : 2
PORT GERMEIN : 2
PORT LINCOLN : 24
PORT MACDONNELL : 1
PORT MOOROWIE : 0
PORT NOARLUNGA : 8
PORT NOARLUNGA SOUTH : 1
PORT PIRIE : 3
PORT PIRIE SOUTH : 6
PORT PIRIE WEST : 0
PORT RICKABY : 1
PORT VICTORIA : 1
PORT WAKEFIELD : 18
PORT WILLUNGA : 8
PORTER LAGOON : 2
PROSPECT : 78
PUKATJA : 1
PUNTABIE : 0
PURPLE DOWNS : 1
PYAP : 2
PYGERY : 2
QUALCO : 0
QUEENSTOWN : 5
QUORN : 2
RAMSAY : 0
REDBANKS : 4
REDHILL : 0
REDWOOD PARK : 2
REEVES PLAINS : 3
REGENCY PARK : 14
REID : 0
RENDELSHAM : 0
RENMARK : 6
RENMARK SOUTH : 2
RENMARK WEST : 4
RENOWN PARK : 4
REYNELLA : 12
REYNELLA EAST : 2
RHYNIE : 1
RICHMOND : 8
RIDGEHAVEN : 5
RIDLEYTON : 8
RISDON PARK : 2
RISDON PARK SOUTH : 0
RIVERGLADES : 1
RIVERTON : 0
ROBE : 1
ROBERTSTOWN : 5
ROCKLEIGH : 1
ROCKY CAMP : 0
ROCKY GULLY : 5
ROSE PARK : 7
ROSEDALE : 2
ROSEWATER : 10
ROSEWORTHY : 8
ROSSLYN PARK : 4
ROSTREVOR : 10
ROWLAND FLAT : 4
ROXBY DOWNS : 5
ROXBY DOWNS STATION : 1
ROYAL PARK : 4
ROYSTON PARK : 4
RUDALL : 2
SADDLEWORTH : 1
SALISBURY : 38
SALISBURY DOWNS : 42
SALISBURY EAST : 50
SALISBURY HEIGHTS : 11
SALISBURY NORTH : 16
SALISBURY PARK : 3
SALISBURY PLAIN : 13
SALISBURY SOUTH : 10
SALT CREEK : 5
SALTIA : 1
SAMPSON FLAT : 9
SANDERGROVE : 6
SANDERSTON : 0
SANDILANDS : 1
SANDLETON : 0
SANDY CREEK : 4
SANDY GROVE : 1
SCEALE BAY : 1
SCOTT CREEK : 1
SEACLIFF : 4
SEACLIFF PARK : 7
SEACOMBE GARDENS : 1
SEACOMBE HEIGHTS : 1
SEAFORD : 10
SEAFORD HEIGHTS : 1
SEAFORD MEADOWS : 16
SEAFORD RISE : 12
SEATON : 15
SEAVIEW DOWNS : 9
SECOND VALLEY : 0
SEDAN : 3
SEDDON : 0
SEFTON PARK : 9
SELLICKS BEACH : 1
SELLICKS HILL : 4
SEMAPHORE : 13
SEMAPHORE PARK : 7
SEMAPHORE SOUTH : 6
SENIOR : 1
SEPPELTSFIELD : 0
SEVENHILL : 1
SHEA-OAK LOG : 8
SHEIDOW PARK : 11
SHERLOCK : 0
SKYE : 1
SMITHFIELD : 29
SMITHFIELD PLAINS : 4
SNOWTOWN : 2
SOLOMONTOWN : 2
SOMERTON PARK : 12
SOUTH BRIGHTON : 5
SOUTH PLYMPTON : 27
SOUTHEND : 2
SPALDING : 5
SPRING GULLY : 0
SPRINGFIELD : 0
SPRINGTON : 3
ST AGNES : 7
ST CLAIR : 2
ST GEORGES : 5
ST IVES : 2
ST JOHNS : 0
ST KILDA : 1
ST MARYS : 21
ST MORRIS : 13
ST PETERS : 14
STANLEY FLAT : 1
STANSBURY : 2
STEPNEY : 16
STEWART RANGE : 0
STIRLING : 18
STIRLING NORTH : 1
STOCKPORT : 1
STOCKWELL : 2
STOCKYARD PLAIN : 0
STONYFELL : 0
STRATHALBYN : 13
STREAKY BAY : 1
STRUAN : 2
STUART : 1
STUARTS CREEK : 3
STURT : 36
STURT VALE : 0
SULTANA POINT : 1
SUMMERTOWN : 5
SUNNYBRAE : 0
SURREY DOWNS : 1
SUTTONTOWN : 2
SWAN REACH : 1
SWANPORT : 0
TAILEM BEND : 11
TANTANOOLA : 2
TANUNDA : 13
TAPEROO : 13
TARATAP : 1
TARLEE : 0
TARPEENA : 0
TATACHILLA : 5
TAYLORVILLE : 0
TEA TREE GULLY : 14
TEMPLERS : 2
TENNYSON : 2
TEPKO : 0
TERINGIE : 5
TEROWIE : 0
THE GAP : 2
THE PINES : 2
THE RANGE : 0
THEBARTON : 14
THEVENARD : 1
THORNGATE : 13
THORNLEA : 1
THRINGTON : 1
TIATUKIA : 0
TINTINARA : 3
TONSLEY : 4
TOOPERANG : 2
TOORA : 1
TOORAK GARDENS : 8
TORRENS PARK : 8
TORRENS VALE : 0
TORRENSVILLE : 18
TOTNESS : 7
TRANMERE : 10
TRINITY GARDENS : 1
TROTT PARK : 9
TRURO : 5
TULKA : 3
TUMBY BAY : 1
TUNGKILLO : 3
TUSMORE : 11
TWO WELLS : 10
ULEYBURY : 4
UNDALYA : 1
UNDERDALE : 9
UNLEY : 15
UNLEY PARK : 5
UPPER HERMITAGE : 1
UPPER STURT : 4
URAIDLA : 3
URANIA : 0
URRBRAE : 22
VALE PARK : 10
VALLEY VIEW : 27
VERDUN : 6
VICTOR HARBOR : 16
VINE VALE : 0
VIRGINIA : 34
VISTA : 4
VIVONNE BAY : 1
WAIKERIE : 4
WAITPINGA : 5
WALKER FLAT : 0
WALKERVILLE : 11
WALKLEY HEIGHTS : 9
WALLAROO : 2
WALLAROO MINES : 2
WALLAROO PLAIN : 3

WANBI : 0
WANDILO : 3
WANGARY : 1
WANGOLINA : 0
WANILLA : 0
WARD BELT : 4
WARD HILL : 0
WARNERTOWN : 1
WAROOKA : 0
WARRADALE : 22
WASLEYS : 4
WATERFALL GULLY : 1
WATERLOO : 0
WATERLOO CORNER : 23
WATERVALE : 1
WATTLE FLAT : 9
WATTLE PARK : 5
WATTLE RANGE : 2
WATTLE RANGE EAST : 1
WAYVILLE : 20
WEETULTA : 0
WELBOURN HILL : 1
WELLAND : 5
WELLINGTON : 1
WELLINGTON EAST : 0
WEST BEACH : 13
WEST CROYDON : 5
WEST HINDMARSH : 11
WEST LAKES : 15
WEST LAKES SHORE : 4
WEST RANGE : 0
WEST RICHMOND : 7
WESTALL : 0
WESTBOURNE PARK : 13
WESTERN FLAT : 1
WESTLAKES : 1
WHITE HILL : 0
WHITE SANDS : 0
WHITES FLAT : 0
WHITES VALLEY : 2
WHYALLA : 1
WHYALLA BARSON : 2
WHYALLA NORRIE : 7
WHYALLA PLAYFORD : 9
WHYALLA STUART : 2
WHYTE YARCOWIE : 1
WIGLEY FLAT : 2
WILD DOG VALLEY : 0
WILD HORSE PLAINS : 0
WILGENA : 0
WILLALO : 0
WILLAMULKA : 0
WILLASTON : 8
WILLIAMSTOWN : 14
WILLOW CREEK : 1
WILLOWIE : 0
WILLUNGA : 7
WILLUNGA HILL : 4
WILLUNGA SOUTH : 3
WILMINGTON : 4
WINDSOR : 3
WINDSOR GARDENS : 25
WINGFIELD : 29
WINNINOWIE : 2
WINTINNA : 0
WIRRABARA : 1
WIRRAMINNA : 7
WIRREGA : 0
WIRRINA COVE : 3
WIRRULLA : 0
WISANGER : 8
WISTOW : 7
WOKURNA : 2
WOLSELEY : 0
WONGULLA : 0
WOODCHESTER : 3
WOODCROFT : 13
WOODLEIGH : 2
WOODS POINT : 0
WOODSIDE : 10
WOODVILLE : 9
WOODVILLE GARDENS : 6
WOODVILLE NORTH : 20
WOODVILLE PARK : 24
WOODVILLE PARK  : 0
WOODVILLE SOUTH : 25
WOODVILLE WEST : 7
WOOL BAY : 1
WOOLPUNDA : 4
WORLDS END : 0
WORROLONG : 1
WUDINNA : 1
WYNN VALE : 10
YAHL : 5
YALATA : 1
YAMBA : 2
YANINEE : 2
YANKALILLA : 3
YARDEA : 1
YATALA VALE : 1
YATTALUNGA : 2
YELLABINNA : 0
YELTA : 0
YORKETOWN : 5
YOUNGHUSBAND : 0
YUMALI : 0
YUNTA : 2

In [41]:
crashDf.groupby('Suburb').sum()

,Postcode,Total Units,Total Cas,Total Fats,Total SI,Total MI,Year,Area Speed,Unit Resp,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
Suburb,,,,,,,,,,,,
ABERFOYLE PARK,77385,33,6,0,1,5,30270,735,26,1.991382e+07,2.481991e+07,1.991382e+14
ABMINGA STATION,5440,1,0,0,0,0,2018,110,1,1.502159e+06,1.957757e+06,1.502159e+13
ADELAIDE,2805000,1193,211,2,19,190,1132098,28825,883,7.452455e+08,9.371572e+08,7.452456e+15
ADELAIDE AIRPORT,113050,44,6,0,4,2,38342,860,33,2.512545e+07,3.172131e+07,2.512545e+14
AGERY,11116,3,1,0,0,1,4036,200,2,2.493580e+06,3.517071e+06,2.493580e+13
ALBERT PARK,75210,30,10,0,1,9,30270,880,19,1.982621e+07,2.514387e+07,1.982621e+14
ALBERTON,85238,35,9,0,4,5,34306,970,30,2.245829e+07,2.852737e+07,2.245829e+14
ALDGATE,61848,25,7,0,0,7,24216,700,24,1.609068e+07,1.992755e+07,1.609068e+14
ALDINGA,165536,70,10,0,2,8,64576,2350,53,4.213633e+07,5.226964e+07,4.213633e+14
ALDINGA BEACH,144844,61,12,0,2,10,56504,1455,38,3.679309e+07,4.567852e+07,3.679309e+14
ALFORD,5555,2,1,0,0,1,2018,100,1,1.262333e+06,1.798944e+06,1.262333e+13
ALLENBY GARDENS,30054,12,2,0,0,2,12108,340,8,7.946607e+06,1.004067e+07,7.946608e+13
ALMA,5401,3,1,0,1,0,2018,100,1,1.331607e+06,1.743145e+06,1.331607e+13
ANANGU PITJANTJATJARA YANKUNYTJATJARA,5232,8,3,0,1,2,12108,600,6,3.872752e+06,1.563243e+07,3.872754e+13
ANDREWS FARM,127850,53,12,0,0,12,50450,1520,32,3.337024e+07,4.245756e+07,3.337024e+14
ANGAS PLAINS,5255,1,0,0,0,0,2018,100,1,1.361740e+06,1.624070e+06,1.361740e+13
ANGASTON,74942,30,9,1,1,7,28252,845,17,1.919585e+07,2.401840e+07,1.919586e+14
ANGLE PARK,15030,6,2,0,0,2,6054,150,4,3.975013e+06,5.034654e+06,3.975015e+13
ANGLE VALE,61404,27,7,0,0,7,24216,990,14,1.601264e+07,2.042570e+07,1.601264e+14
ANNA CREEK,11446,2,2,0,0,2,4036,200,2,2.282641e+06,4.648913e+06,2.282641e+13
ANNADALE,21424,8,5,0,0,5,8072,440,4,5.615002e+06,6.909437e+06,5.615004e+13
APAMURRA,5237,2,1,0,0,1,2018,100,2,1.384556e+06,1.674345e+06,1.384556e+13
ARCOONA,22880,6,2,0,1,1,8072,440,5,4.693236e+06,8.319805e+06,4.693237e+13
ARDROSSAN,16713,8,0,0,0,0,6054,300,3,3.800359e+06,5.181398e+06,3.800359e+13
ARMAGH,16359,6,3,0,0,3,6054,230,5,3.990299e+06,5.376757e+06,3.990301e+13
ARTHURTON,16716,6,1,0,0,1,6054,300,3,3.762406e+06,5.243953e+06,3.762407e+13
ASCOT PARK,105903,48,6,0,1,5,42378,1130,27,2.781844e+07,3.494167e+07,2.781845e+14
ASHBOURNE,20628,7,3,0,1,2,8072,380,4,5.365894e+06,6.515128e+06,5.365894e+13
ASHFORD,20140,13,2,0,0,2,8072,240,6,5.304188e+06,6.672215e+06,5.304190e+13
ASHTON,20548,8,1,0,0,1,8072,320,12,5.363784e+06,6.675692e+06,5.363784e+13
...,...,...,...,...,...,...,...,...,...,...,...,...
WOODLEIGH,10622,3,2,0,1,1,4036,200,2,3.040308e+06,3.402510e+06,3.040308e+13
WOODS POINT,5253,2,0,0,0,0,2018,100,1,1.397792e+06,1.635628e+06,1.397792e+13
WOODSIDE,89148,36,10,0,0,10,34306,1170,29,2.302109e+07,2.832745e+07,2.302109e+14
WOODVILLE,145319,61,9,0,0,9,58522,1540,48,3.836358e+07,4.860728e+07,3.836358e+14
WOODVILLE GARDENS,80192,32,6,0,0,6,32288,845,23,2.118681e+07,2.683547e+07,2.118681e+14
WOODVILLE NORTH,200480,89,20,0,0,20,80720,2300,60,5.294909e+07,6.708443e+07,5.294909e+14
WOODVILLE PARK,230506,111,24,0,3,21,92828,2710,66,6.090276e+07,7.707937e+07,6.090277e+14
WOODVILLE PARK,5009,2,0,0,0,0,2018,60,2,1.323949e+06,1.674781e+06,1.323949e+13
WOODVILLE SOUTH,215473,89,25,0,0,25,86774,2320,66,5.687534e+07,7.204824e+07,5.687535e+14
WOODVILLE WEST,95209,43,7,0,0,7,38342,1050,29,2.512092e+07,3.183801e+07,2.512092e+14
WOOL BAY,5575,2,1,0,0,1,2018,100,2,1.248845e+06,1.664424e+06,1.248845e+13
WOOLPUNDA,5330,2,4,2,1,1,2018,110,1,1.482544e+06,1.746087e+06,1.482544e+13
WORLDS END,5381,1,0,0,0,0,2018,110,1,1.380903e+06,1.797486e+06,1.380903e+13
WORROLONG,21164,9,1,0,0,1,8072,290,5,6.051082e+06,5.367958e+06,6.051083e+13
WUDINNA,11304,5,1,0,1,0,4036,160,2,2.089529e+06,3.764162e+06,2.089529e+13
WYNN VALE,225588,96,10,0,2,8,88792,2740,57,5.883385e+07,7.410524e+07,5.883386e+14
YAHL,15873,6,5,0,3,2,6054,300,4,4.543625e+06,4.010610e+06,4.543625e+13
YALATA,5690,2,1,0,0,1,2018,40,2,7.006380e+05,2.053374e+06,7.006382e+12
YAMBA,26700,12,2,0,0,2,10090,415,6,7.712967e+06,8.670824e+06,7.712968e+13
YANINEE,5653,2,2,0,1,1,2018,110,1,1.028164e+06,1.893011e+06,1.028164e+13
YANKALILLA,20812,8,3,0,0,3,8072,310,5,5.216135e+06,6.452130e+06,5.216136e+13
YARDEA,5717,2,1,0,0,1,2018,100,1,1.063275e+06,1.960551e+06,1.063275e+13
YATALA VALE,15378,6,1,0,0,1,6054,170,3,4.023467e+06,5.054627e+06,4.023468e+13
YATTALUNGA,30684,12,2,1,0,1,12108,480,7,8.079782e+06,1.017348e+07,8.079783e+13
YELLABINNA,5690,1,0,0,0,0,2018,100,1,7.186531e+05,2.139790e+06,7.186532e+12
YELTA,5558,1,0,0,0,0,2018,100,1,1.240634e+06,1.768492e+06,1.240634e+13
YORKETOWN,50184,15,5,0,3,2,18162,850,10,1.115397e+07,1.498594e+07,1.115397e+14
YOUNGHUSBAND,10476,3,0,0,0,0,4036,180,3,2.796310e+06,3.344149e+06,2.796310e+13
YUMALI,5261,2,0,0,0,0,2018,80,2,1.437031e+06,1.603724e+06,1.437031e+13
YUNTA,16320,5,2,0,0,2,6054,260,4,4.269304e+06,5.772768e+06,4.269304e+13

## Task 5 : Parallel Group By Join

### 5.1 

Please use an appropriate data partitioning,
group by and join techniques and also briefly explain why you have
chosen these.

Normal join on REPORT_ID and license type = Unlicensed
Paralled Groupby all

In [42]:
unitsDf['Licence Type'].unique()

array(['Provisional 1 ', 'Full', nan, 'Provisional 2', 'Unknown',
       'Learners', 'Unlicenced', 'Probationary', 'Disqualified'],
      dtype=object)

In [43]:
def DDP_join(T1, T2, n_processor):
    """
    Perform a divide and broadcast-based parallel join algorithms.
    The join attribute is the numeric attribute in the input tables T1 & T2

    Arguments:
    T1 & T2 -- Tables to be joined
    n_processor -- the number of parallel processors

    Return:
    result -- the joined table
    """
    
    results = []
    
    # Partition T1 into sub-tables using rr_partition().
    # The number of the sub-tables must be the equal to the n_processor
    T1_subsets = rr_partition(T1, n_processor)
    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)
    
    midResults = []
    
    for t1 in T1_subsets:
        # Apply a join on each processor
        
        # Note that as we assume a shared-memory architecture, no replication
        # of the broadcast table (in this case: table T2 (smaller table) occurs.
        output = pool.apply_async(NL_join, [t1, T2, 3])
        
        midResults.append(output)

    for result in midResults:
        results.append(result.get())

    return results

In [44]:
def group_by_join(dataset1, dataset2):
    """
    Perform a parallel merge_all groupby method

    Arguments:
    dataset -- entire record set to be merged

    Return:
    result -- the aggregated record dictionary according to the group_by attribute index
    """
    
    result = {}

    # Define the number of parallel processors: the number of sub-datasets.
    
    join_results = DDP_join(dataset1, dataset2, 10)
    
    n_processor = len(join_results)

    # Pool: a Python method enabling parallel processing. 
    pool = mp.Pool(processes = n_processor)

    # ----- Local aggregation step -----
    # Implement here
    local_result = []
    for s in join_results:
        # call the local aggregation method
        local_result.append(pool.apply(local_groupby, [s, 0, 1]))
    pool.close()

    # ---- Global aggregation step ----
    # Let's assume that the global operator is sum.
    # Implement here
    for r in local_result:
        for key, val in r.items():
            if key not in result:
                result[key] = 0
            result[key] += val    
    
    return result

final_results = group_by_join(crashReader, unitsReader)
for item in sorted(final_results.keys()):
    print(item,':', final_results[item])

ADELAIDE : 5
ALBERT PARK : 0
ALDINGA : 0
ANDREWS FARM : 3
ASCOT PARK : 1
BEDFORD PARK : 1
BELAIR : 1
BEULAH PARK : 2
BIRDWOOD : 0
BIRKENHEAD : 0
BLAIR ATHOL : 1
BLAKEVIEW : 2
BOLIVAR : 2
BRAHMA LODGE : 1
BURRA : 2
BURTON : 2
CAMPBELLTOWN : 0
CHELTENHAM : 1
CHRISTIE DOWNS : 1
CHRISTIES BEACH : 0
CLARE : 0
CLAY WELLS : 1
COLLINSWOOD : 0
COOBER PEDY : 1
COONDAMBO : 0
COWANDILLA : 0
CRAIGMORE : 0
CUDLEE CREEK : 0
CURRENCY CREEK : 4
DAVOREN PARK : 2
DAWESLEY : 5
DRY CREEK : 3
EDWARDSTOWN : 1
ELIZABETH : 0
ELIZABETH DOWNS : 4
ELIZABETH EAST : 3
ELIZABETH GROVE : 1
ELIZABETH NORTH : 0
ELIZABETH PARK : 5
ELIZABETH SOUTH : 0
ELIZABETH VALE : 1
ENFIELD : 1
ETHELTON : 0
EVANSTON PARK : 1
EYRE : 4
FAIRVIEW PARK : 0
FINDON : 1
FLINDERS PARK : 2
FORESTVILLE : 0
FULHAM : 0
FULHAM GARDENS : 0
GAWLER : 0
GAWLER EAST : 0
GAWLER WEST : 3
GEPPS CROSS : 0
GILLES PLAINS : 4
GLANVILLE : 1
GLENELG : 0
GLENSIDE : 0
GLOBE DERBY PARK : 1
GOMERSAL : 0
GREENHILL : 0
GREENWITH : 1
HACKHAM : 2
HACKNEY : 0
HAINES : 2
HALBURY : 1
HALLETT : 0
HALLETT COVE : 1
HAPPY VALLEY : 0
HARTLEY : 3
HAWTHORN : 0
HAZELWOOD PARK : 1
HILLBANK : 0
HILLIER : 1
HINDMARSH VALLEY : 0
HOLDEN HILL : 0
HOPE VALLEY : 0
HYDE PARK : 0
INGLE FARM : 3
INGLEWOOD : 0
JOSLIN : 0
KANGARILLA : 2
KEPPOCH : 1
KERSBROOK : 0
KESWICK : 0
KIDMAN PARK : 1
KILBURN : 1
KINGSCOTE : 0
KLEMZIG : 2
KONGORONG : 1
KORUNYE : 1
LINDEN PARK : 0
LOCKLEYS : 0
LYRUP : 0
MANNINGHAM : 0
MARDEN : 0
MARION : 4
MAWSON LAKES : 0
MAYLANDS : 0
MCDOUALL PEAK : 1
MCLAREN FLAT : 0
MCLAREN VALE : 1
MEADOWS : 0
MEDINDIE : 1
MELROSE PARK : 1
MENINGIE : 1
MILE END : 2
MILLBROOK : 0
MILLICENT : 1
MITCHELL PARK : 2
MODBURY : 1
MONARTO SOUTH : 3
MOONTA BAY : 0
MORPHETT VALE : 1
MORPHETTVILLE : 1
MOUNT CRAWFORD : 0
MOUNT GAMBIER : 2
MOUNT MARY : 1
MUNNO PARA : 3
MUNNO PARA WEST : 1
MURRAY BRIDGE : 3
MURRAY BRIDGE EAST : 1
NANGWARRY : 1
NOARLUNGA CENTRE : 1
NOARLUNGA DOWNS : 0
NORTH ADELAIDE : 0
NORTH PLYMPTON : 1
NORTHFIELD : 1
NORWOOD : 2
NOVAR GARDENS : 1
O'HALLORAN HILL : 1
O'SULLIVAN BEACH : 0
OAKDEN : 2
OLD NOARLUNGA : 0
ONE TREE HILL : 1
OSBORNE : 2
OVERLAND CORNER : 2
PAECHTOWN : 0
PARA HILLS : 3
PARA HILLS WEST : 4
PARACOMBE : 1
PARADISE : 0
PARAFIELD GARDENS : 1
PARALOWIE : 0
PARK HOLME : 2
PARKSIDE : 1
PASADENA : 2
PENFIELD GARDENS : 1
PLYMPTON : 0
POLTALLOCH : 1
POORAKA : 0
PORT ADELAIDE : 3
PORT AUGUSTA : 2
PORT LINCOLN : 0
PORT NOARLUNGA : 0
PORT PIRIE SOUTH : 2
PORT RICKABY : 1
PORT WAKEFIELD : 1
PORTER LAGOON : 1
PROSPECT : 2
PUKATJA : 1
REYNELLA : 1
RICHMOND : 0
RIDLEYTON : 1
ROSE PARK : 0
ROSEWATER : 1
SALISBURY : 2
SALISBURY DOWNS : 2
SALISBURY EAST : 1
SALISBURY NORTH : 0
SALISBURY PLAIN : 2
SALISBURY SOUTH : 1
SEAFORD : 0
SEAFORD MEADOWS : 0
SEATON : 1
SEMAPHORE PARK : 1
SMITHFIELD : 4
SMITHFIELD PLAINS : 0
SOMERTON PARK : 1
SOUTH BRIGHTON : 0
SOUTH PLYMPTON : 1
ST AGNES : 1
ST MARYS : 0
ST MORRIS : 0
STEPNEY : 1
STIRLING NORTH : 0
STURT : 0
SUMMERTOWN : 4
SURREY DOWNS : 0
TANTANOOLA : 0
THE PINES : 1
THEBARTON : 0
THORNGATE : 0
TOOPERANG : 1
TORRENS PARK : 0
TORRENSVILLE : 1
TOTNESS : 2
TRURO : 0
TWO WELLS : 0
ULEYBURY : 0
URRBRAE : 1
VALLEY VIEW : 2
VICTOR HARBOR : 2
VIRGINIA : 0
WARD BELT : 1
WARNERTOWN : 1
WATERFALL GULLY : 0
WATERLOO CORNER : 2
WAYVILLE : 0
WELLAND : 0
WEST BEACH : 0
WEST CROYDON : 0
WEST HINDMARSH : 1
WEST LAKES : 3
WHYALLA NORRIE : 2
WILLUNGA : 1
WILMINGTON : 2
WINGFIELD : 1
WISANGER : 1
WOODVILLE : 1
WOODVILLE NORTH : 1
WOODVILLE SOUTH : 0
WOODVILLE WEST : 1
WYNN VALE : 1
YAMBA : 1
YATALA VALE : 1
YATTALUNGA : 1
YORKETOWN : 2